@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
  background-color: #000;
  height: 100vh;
  padding-bottom: 11750;
}

.frontpage {
  height: 100vh;
  width: 100vw;
  background-image:  url("/assets/img/01_.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frontpage a {
  align-items: center;
  text-align: center;
}

.frontpage .title {
  align-items: center;
  text-align: center;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  font-style: normal;
  font-weight: normal;
}

.frontpage .title:hover {
  text-decoration: line-through;
}

.box {
  position:absolute;
  width:100vw;
  height:67vw;
  left:50%;
  top:50%;
  margin-left:-50vw;
  margin-top:-33.5vw;
  will-change: transform;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
   transition: opacity 0.5s;
}

@media (max-aspect-ratio: 3/2) {
  .box {
    width:150vh;
    height: 100vh;
    margin-left:-75vh;
    margin-top:-50vh;
  }
}

.box img {
   /* object-fit: cover; */
   flex: 1 1 100%;
   max-width: 100%;
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;         /* Firefox */
   image-rendering:   -o-crisp-edges;         /* Opera */
   image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
   image-rendering: crisp-edges;

   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   -ms-transform: translateZ(0); /* IE 9 */
   -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
   transform: translateZ(0);
}

#viewport {
  position:fixed;
  -webkit-perspective: 4px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective: 4px;
  -moz-perspective-origin: 50% 50%;
  transform-style: flat;
  height: 100vh;
  width: 100vw;
  left:50%;
  margin-left:-50vw;
}

#slide-0 { z-index: 14; }
#slide-1 { z-index: 13; }
#slide-2 { z-index: 12; }
#slide-3 { z-index: 11; }
#slide-4 { z-index: 10; }
#slide-5 { z-index: 9; }
#slide-6 { z-index: 8; }
#slide-7 { z-index: 7; }
#slide-8 { z-index: 6; }
#slide-9 { z-index: 5; }
#slide-10 { z-index: 4; }
#slide-11 { z-index: 3; }
#slide-12 { z-index: 2; }
#slide-13 { z-index: 1; }
