@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

body {
  background-color: #000;
  height: 100vh;
  padding-bottom: 30500;
}

video {
  object-fit: fill;
  pointer-events: none;
}

iframe[src*=youtube] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 10px;
}

.credit-paragraph {
  color: #fff;
  text-align: center;
  font-family: 'PT Serif Caption', serif;
  line-height: 0.7;
  font-style: normal;
}

.question-title {
  padding-bottom: 10vh;
}

.question-textarea {
  background-color: transparent !important;
  border-color: #B1FD36;
  border-width: medium;
  color: #B1FD36;
  height: 20vh !important;
}

.green-border textarea {
  border: 1px solid #B1FD36;
}

.green-border .form-control:focus {
  border: 1px solid #B1FD36;
  color: #B1FD36;
}

.question-button {
  margin-top: 10vh;
  background-color: #B1FD36;
}

.question-button:hover {
  background-color: #B1FD10;
}

::-moz-selection {
  color: #B1FD36;
}

::selection {
  color: #B1FD36;
}

.overlay-object {
  display: inline-block;
  height: auto;
  width: auto;
}

.credit {
  align-items: center;
  text-align: center;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

a:hover {
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
}

.modal {
  padding-right: 0px !important;
}

.object-layer {
  align-items: center;
  text-align: center;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  font-style: normal;
  font-weight: normal;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* display: block; */
}

.object-layer div h2 {
  align-items: center;
  text-align: center;
}

.act-sec-1 {
  align-items: center;
  text-align: center;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  font-style: normal;
  font-weight: normal;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.act-sec-2 {
  align-items: center;
  text-align: center;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  font-style: normal;
  font-weight: normal;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.act-sec-1 div h2 {
  align-items: center;
  text-align: center;
}

.info-paragraph {
  color: #fff;
  text-align: justify;
  font-family: 'PT Serif Caption', serif;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
}

.introduction {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/img/02_HOMEPAGE/HOME_PAGE.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .rhizoma-row {
  background-image: url("/assets/img/ordered/09_a.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
.menu-text-info:hover {
  text-decoration: line-through;
}

.menu-text-info {
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  top: 5vh;
  position: fixed;
}

.menu-text:hover {
  text-decoration: line-through;
}

.menu-text {
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  bottom: 5vh;
  position: fixed;
}

.artist-text {
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  top: 5vh !important;
}

.frontpage {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/img/01_LANDING_PAGE/01_WELCOME.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frontpage a {
  align-items: center;
  text-align: center;
}

.frontpage .title {
  align-items: center;
  text-align: center;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10rem;
}

.frontpage .title:hover {
  text-decoration: line-through;
}

.sub-title {
  align-items: center;
  text-align: center;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
  font-style: normal;
  font-weight: normal;
}

/* MODAL */
.modal-content {
  border: none;
}

.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.modal-content-full-width {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #43434396;
}

.modal-header-full-width {
  border-bottom: 0px !important;
}

.modal-footer-full-width {
  border-top: 0px !important;
}

.modal-close-times {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  font-size: 4rem;
  font-weight: lighter;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #B1FD36;
  font-family: 'Marcellus', serif;
}

.modal-close-times:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* MODAL END*/
.box {
  position: absolute;
  width: 100vw;
  height: 67vw;
  left: 50%;
  top: 50%;
  margin-left: -50vw;
  margin-top: -33.5vw;
  will-change: transform;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: opacity 0.5s;
}

@media (max-aspect-ratio: 3/2) {
  .box {
    width: 150vh;
    height: 100vh;
    margin-left: -75vh;
    margin-top: -50vh;
  }
}

.box img {
  /* object-fit: cover; */
  flex: 1 1 100%;
  max-width: 100%;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  object-fit: cover;
}

#gif-image-parent {
  -webkit-filter: blur(10px);
  /* Safari 6.0 - 9.0 */
  filter: blur(10px);
}

#gif-image {
  object-fit: scale-down;
  position: absolute;
}

.box video {
  /* object-fit: cover; */
  flex: 1 1 100%;
  max-width: 100%;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  object-fit: cover;
}

#viewport {
  position: fixed;
  -webkit-perspective: 4px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective: 4px;
  -moz-perspective-origin: 50% 50%;
  transform-style: flat;
  height: 100vh;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

#slide-0 {
  z-index: 28;
}

#slide-1 {
  z-index: 27;
}

#slide-2 {
  z-index: 26;
}

#slide-3 {
  z-index: 25;
}

#slide-4 {
  z-index: 24;
}

#slide-5 {
  z-index: 23;
}

#slide-6 {
  z-index: 22;
}

#slide-7 {
  z-index: 21;
}

#slide-8 {
  z-index: 20;
}

#slide-9 {
  z-index: 19;
}

#slide-10 {
  z-index: 18;
}

#slide-11 {
  z-index: 17;
}

#slide-12 {
  z-index: 16;
}

#slide-13 {
  z-index: 15;
}

#slide-14 {
  z-index: 14;
}

#slide-15 {
  z-index: 13;
}

#slide-16 {
  z-index: 12;
}

#slide-17 {
  z-index: 11;
}

#slide-18 {
  z-index: 10;
}

#slide-19 {
  z-index: 9;
}

#slide-20 {
  z-index: 8;
}

#slide-21 {
  z-index: 7;
}

#slide-22 {
  z-index: 6;
}

#slide-23 {
  z-index: 5;
}

#slide-24 {
  z-index: 4;
}

#slide-25 {
  z-index: 3;
}

#slide-26 {
  z-index: 2;
}

#slide-27 {
  z-index: 1;
}

#slide-28 {
  z-index: 0;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .display-1 {
    font-size: 3rem;
  }

  .display-3 {
    font-size: 2.5rem;
  }

  .credit {
    font-size: 0.8rem;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .display-1 {
    font-size: 3rem;
  }

  .display-3 {
    font-size: 2.5rem;
  }

  .credit {
    font-size: 0.8rem;
  }
}

/* LOADER */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loader-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.loader {
  position: relative;
  width: 10vw;
  height: 5vw;
  padding: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  position: absolute;
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background-color: #B1FD36;
}

.loader span:nth-child(1) {
  animation: loading-dotsA 1s infinite linear;
}

.loader span:nth-child(2) {
  animation: loading-dotsB 1.5s infinite linear;
}

@keyframes loading-dotsA {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(2vw);
  }

  50% {
    transform: none;
  }

  75% {
    transform: translateY(2vw);
  }

  100% {
    transform: none;
  }
}

@keyframes loading-dotsB {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(-2vw);
  }

  50% {
    transform: none;
  }

  75% {
    transform: translateY(-2vw);
  }

  100% {
    transform: none;
  }
}
